body {
    margin: 0;
    padding: 0;
    min-width: 550px;
}

#header {
    float: left;
    width: 100%;
    background-color: black;
    }

#nav {
    margin: 0 0 0 35%;
}

#nav LI { 
display: inline;
line-height: 1.9em;
}

#nav UL {
margin: 0px;
padding: 0px;
list-style: none;
display: inline;
}

#nav UL LI A:link, #nav UL LI A:visited {
font-size:10pt;
font-weight:bold;
text-decoration:none;
padding:7px 10px 7px 10px;
color:#ffffff;
}

#nav UL LI A:hover, #nav UL LI A:active {
font-size:10pt;
font-weight:bold;
text-decoration:none;
padding:7px 10px 7px 10px;
background-color:#c6a648;
color:#000000;
}

#wrapper {
    background-color: #f4ebe2;
    float: left;
    overflow: hidden;
    height: 1000px;
    width: 100%;
    }

#top_leftside {
    position: relative;
    float: left;
    width: 300px;
    right: -10%;
    }

#logo img {
    margin: 40% 0 0 0;
    width: 300px;
    }

#logo p {
    margin: 0;
    text-align: center;
    }

#top_rightside {
    position: relative;
    float: right;
    width: 500px;
    margin-right: -1%;
}

#top_rightside img {
    margin: 30% 0 0 0;
    width: 400px;
    
}

#product {
    background-color: greenyellow;
    float: left;
    overflow: hidden;
    height: 1000px;
    width: 100%;
 
}

#footer {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
    }