body {
    margin: 0;
    padding: 0;
    min-width: 600px;
}

#header {
    float: left;
    position: fixed;
    width: 100%;
    height: 36px;
    background-color: black;
    z-index: 10;
    font-family: 'Lexend Tera', sans-serif;
    }

#nav {
    margin: 0 0 0 8%;
}

#nav LI { 
display: inline;
line-height: 2em;
}

#nav UL {
margin: 0px;
padding: 0px;
list-style: none;
display: inline;
}

#nav UL LI A:link, #nav UL LI A:visited {
font-size: 9pt;
font-weight:bold;
text-decoration:none;
padding:7px 10px 7px 10px;
color:#b7e8ff;
}

#nav UL LI A:hover, #nav UL LI A:active {
font-size: 9pt;
font-weight:bold;
text-decoration:none;
padding:7px 10px 7px 10px;
background-color:#10508b;
color: #ffffff;
}

#wrapper {
    background-color: #d3f3ff;
    float: left;
    overflow: hidden;
    height: 850px;
    width: 100%;
    }

#top_leftside {
    position: relative;
    float: left;
    width: 300px;
    right: -5%;
    z-index: 1;
    }

#logo img {
    margin: 25% 0 0 0;
    width: 300px;
    }

#logo p {
    margin: 25px 2% 20px;
    text-align: left;
    color: #23226b;
    font-family: 'Lexend Tera', sans-serif;
    }

#top_rightside {
    position: relative;
    float: left;
    width: 600px;
    margin-left: 6%;
    z-index: 1;
    }

#top_center {
    position: relative;
    float: left;
    margin: 80px;
}

#top_rightside img {
    margin: 6% 0 0 0;
    width: 600px;
    
}

#product {
    background-color: #57d2c6;
    float: left;
    overflow: hidden;
    height: 1000px;
    width: 100%;
 
}

#footer {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
    }